
.upper_left {
	position: absolute;
	top: 0;
	left: 0;
}
.upper_right {
	position: absolute;
	top: 0;
	right: 0%;
}
.lower_left {
	position: absolute;
	bottom: 0%;
	left: 0;
}
.lower_right {
	bottom: 0%;
	right: 0%;
	position: absolute;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
