html,
body {
  height: 100%;
}

body {
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
  /* background: 
    url("/static/img/lime1.svg") left 2% top 3% no-repeat,
    url("/static/img/lime2.svg") right 0 top 0 no-repeat,
    url("/static/img/lime3.svg") bottom 0 right 0 no-repeat,
    url("/static/img/lime4.svg") bottom 0 left 0 no-repeat; */
  background-size: auto;
  background-repeat: no-repeat;
}